CrossMonitor.Client.Tests/Debug/
CrossMonitor.Client.Tests/x64/
CrossMonitor.Client/*.log
CrossMonitor.Client/CrossMonitor.Client.vcxproj.*
CrossMonitor.Client/Debug/
CrossMonitor.Shared/Debug/
CrossMonitor.VC.*
Readme.txt
packages/
Debug/
Release/
.vs/